.latar {
display: flex;
background: #E5E5E5;
}

.sideBar {
display: inline;
}

.wow {
width: 100px;
margin-left: 180px;
margin-top: 30px;
}

.foto {
margin-left: 160px;
width: 150px;
margin-top: 20px;
}

.garis {
margin-top: 10px;
margin-left: 50px;
width: 350px;
color: #C9C9C9;
}

.name {
font-family: Arial, Helvetica, sans-serif;
margin-left: 140px;
margin-top: 20px;
font-size: 24px;
font-weight: 900;
}

.status {
font-family: Arial, Helvetica, sans-serif;
margin-left: 145px;
margin-top: 0px;
font-size: 18px;
font-weight: 800;
color: #D60000;
}

.profile {
display:flex;
}

.profico {
width: 30px;
height: 30px;
margin-right: 10px;
margin-top: 55px;
margin-left: 50px;
}

.tagpro {
border: none;
background: none;
font-family: Arial, Helvetica, sans-serif;
margin-right: 10px;
margin-top: 55px;
margin-left: 10px;
font-size: 25px;
}

.subscribe {
display:flex;
}

.bilico {
width: 30px;
height: 30px;
margin-right: 10px;
margin-top: 65px;
margin-left: 50px;
}

.tagsub {
border: none;
background: none;
font-family: Arial, Helvetica, sans-serif;
margin-right: 10px;
margin-top: 65px;
margin-bottom: 65px;
margin-left: 10px;
font-size: 25px;
}

.outMenu {
display:flex;
}

.logout {
margin-top: 50px;
width: 30px;
height: 30px;
margin-right: 10px;
margin-left: 50px;
}

.tagout {
border: none;
background: none;
font-family: Arial, Helvetica, sans-serif;
margin-top: 50px;
margin-right: 10px;
margin-left: 10px;
font-size: 25px;
}

.content {
margin-top: 60px;
margin-left: 50px;
}

.frame {
position: absolute;
width: 1300px;
height: 600px;
}

.book {
margin-top: 700px;
margin-left: 40px;
}

.header {
font-family: Times New Roman;
font-style: normal;
font-weight: bold;
font-size: 36px;
}

.bookList {
margin-top: 50px;
display: flex;
}

.bookGroup {
display: inline-grid;
margin-right: 65px;
}

.book1 {
width: 300px;
}

.judul {
font-family: Times New Roman;
font-style: normal;
font-weight: bold;
font-size: 24px;
margin-top: 20px;
}

.pengarang {
font-family: Arial, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
color: #929292;
margin-top: 5px;
margin-bottom: 200px;
}